---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Cover from "../components/Cover.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.data.path },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
const style = post.data.backgroundPosition
  ? { "background-position": post.data.backgroundPosition }
  : {};
---

<Layout
  title={post.data.title}
  keywords={post.data.tags.join(" ")}
  description={post.data.title}
>
  <Cover
    title={post.data.title}
    image={post.data.cover}
    tags={post.data.tags}
    date={post.data.date}
    style={style}
  />
  <main class="container">
    <Content />
  </main>
</Layout>
